# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/

# environment variables
.env

# testing with Cypress
cypress/videos/
cypress/screenshots/
cypress/snapshots/

# code coverage report
.nyc_output/
.nyc_tempdir/
coverage/
coverage-cypress/
coverage-jest/

# production
build/
.next/

# misc
.DS_Store

# files related to the project (Mood board etc.)
resources/

# master image/font files
assets-master/

# Uncomment once cloned
## template scripts
#template*.js

sketch/

out/

public/fonts/ShipporiMincho-Medium.ttf

public/fonts/Cormorant-Bold.ttf

public/fonts/CormorantGaramond-SemiBoldItalic.ttf

public/fonts/CormorantGaramond-SemiBold.ttf

public/fonts/CormorantSC-Bold.ttf

public/fonts/CormorantSC-SemiBold.ttf

public/fonts/PlayfairDisplay-SemiBold.ttf
